<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공공데이터</title>
    <link th:href="@{/css/table.css}"
          href="../css/table.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<br/>
<label for="startDate">조회일자 </label>
<input type="date" id="startDate" class="startDate" name="trip-start" value="">
<button id="apiCallBtn" onclick="apiCall(document.getElementById('startDate').value);">조회</button>
<br/><br/>
<div id="apiTable">
    <table>
        <colgroup>
            <col style="width: 10%">
            <col style="width: 5%">
            <col style="width: 20%">
            <col style="width: 20%">
            <col style="width: 20%">
            <col style="width: 25%">
        </colgroup>
        <tr>
            <th>통보시간</th>
            <th>통보코드</th>
            <th>예보개황</th>
            <th>발생원인</th>
            <th>예보등급</th>
            <th>예측모델이미지</th>
        </tr>
        <th:block th:each="map : ${apiData}">
            <tr>
                <td th:text="${map.dataTime}"></td>
                <td th:text="${map.informCode}"></td>
                <td th:text="${map.informOverall}"></td>
                <td th:text="${map.informCause}"></td>
                <td th:text="${map.informGrade}"></td>
                <td>
                    <img id="imgId1" th:src="${map.imageUrl1}" alt="첨부이미지" th:if="${map.imageUrl1 != null}" />
                    <img id="imgId2" th:src="${map.imageUrl2}" alt="첨부이미지" th:if="${map.imageUrl2 != null}" />
                    <img id="imgId3" th:src="${map.imageUrl3}" alt="첨부이미지" th:if="${map.imageUrl3 != null}" />
                </td>
            </tr>
        </th:block>
    </table>
</div>
</body>
<script th:inline="javascript">
    function apiCall(date) {
        //Ajax 호출
        var inputData = { searchDate : date };
        $.ajax({
            contentType:"application/json;charset=UTF-8",
            url: "/api/apartment/search",
            type: "POST",
            data: date,
            success: function(data){
                console.log(data);
                $("#apiTable").replaceWith(data);
            },
            error: function(xhr, status, error){
                alert(xhr.responseText);
            }
        });
    }
</script>
</html>